In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
import numpy as np
import pandas as pd
import csv

In [15]:
data=pd.read_csv("Book1.csv")
print(data.shape)
print (list(data.columns))#returns list
data.describe()

(8, 2)
['AUTHOR', 'BOOK TITLES']

                                AUTHOR             BOOK TITLES
count                                8                       8
unique                               8                       8
top     Brian Christian, Tom Griffiths  Once upon an Algorithm
freq                                 1                       1

In [16]:
authors = []
titles = []
with open("Book1.csv") as csvfobj: #csvfobj=object
    readCSV= csv.reader(csvfobj, delimiter=',') #as each field is separated by ','
    #if file is not in the same project, add file path
    #Reader object creates matrix
    title = []
    #to iterate through file row by row
    for row in readCSV:
        author = row[0]
        title = row[1]
        
        #adding to the list
        authors.append(author)
        titles.append(title)
        
print (authors)
print(titles)

['AUTHOR', 'Tim Roughgarden', 'Steven Skiena', 'Kevin Ferguson, Max Pumperla', 'Zed Shaw', 'Brian Christian, Tom Griffiths', 'Jeff Erickson', 'Martin Erwig', 'Max Bramer']
['BOOK TITLES', 'Algorithms Illuminated', 'The Data Science Design Manual', 'Deep Learning and the Game of Go', 'Learn Python the Hard Way', 'Algorithms to live by', 'Algorithms', 'Once upon an Algorithm', 'Principles of Data Mining']

In [22]:
tfidfvect = TfidfVectorizer(stop_words='english')
X = tfidfvect.fit_transform(titles)

first_vector = X[0]
 
#dataframe = pd.DataFrame(first_vector.T.todense(), index = vectorizer.get_feature_names(), columns = ["tfidf"])
#dataframe.sort_values(by = ["tfidf"],ascending=False)

Finally, the K-Means Clustering model is built using sklearn.cluster.KMeans

In [23]:
num = 5
kmeans = KMeans(n_clusters = num, init = 'k-means++', max_iter = 500, n_init = 1)
kmeans.fit(X)
print(kmeans.cluster_centers_) #This will print cluster centroids as tf-idf vectors

[[0.5        0.         0.35355339 0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.35355339
  0.        ]
 [0.         0.72793763 0.         0.         0.         0.
  0.         0.         0.26866889 0.         0.         0.26866889
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.5        0.         0.5        0.         0.
  0.         0.         0.         0.5        0.         0.
  0.5       ]
 [0.         0.         0.         0.         0.57735027 0.
  0.57735027 0.         0.         0.         0.57735027 0.
  0.         0.         0.         0.         0.         0.
  0.        ]
 [0.         0.         0.         0.47552585 0.         0.25946904
  0.         0.         0.         0.         0.         0.
  0.25946904 0.30353936 0.30353936 0.         0.25946904 0.
  0.        ]]

To predict the cluster for a new book title

In [24]:
X = tfidfvect.transform(["Data Structures and Algorithms"])
predicted = kmeans.predict(X)
print(predicted)

[1]

This will give a result in the form of [n] in which n will indicate the cluster number to which the book "Data Structures and Algorithms" would belong.